/backend/.idea/.gitignore
/backend/.idea/backend.iml
/backend/.idea/misc.xml
/backend/.idea/modules.xml
/backend/.idea/inspectionProfiles/profiles_settings.xml
/backend/.idea/inspectionProfiles/Project_Default.xml
/backend/.idea/vcs.xml
/.idea
/Pipfile
/Pipfile.lock
/img_3.png